################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GFut.Services.Api/obj/Release/netcoreapp2.0
