################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/GFut.Services.Api/obj
/src/GFut.Services.Api/bin
/src/GFut.Services.Api/Logs
/src/GFut.Domain/bin
/src/GFut.Domain/obj
/src/GFut.Infra/bin
/src/GFut.Infra/obj
/src/GFut.Infra/Migrations
/src/GFut.Infra.IoC/bin
/src/GFut.Infra.IoC/obj
/src/GFut.Application/bin
/src/GFut.Application/obj
/.vs/GFut/v16/Server/sqlite3
/.vs/GFut/DesignTimeBuild
/.vs/GFut/config
/.vs/GFut/v16
/.vs